build/
install/
packages/
results/
toolchain/
public-repository/
**/bin/
**/obj/
**/__pycache__/
**/.venv/
**/data/
**/model_cache/
**/*.pyc
**/config.json
**/included-folders.txt
**/excluded-folders.txt
**/Archives/
